{% extends 'base.html.twig' %}

{% block title %}Compétences | Léa Barnezet{% endblock %}

{% block body_id %}body_competence{% endblock %}

{% block body %}
<main id="main_competence">
    <h1>Compétences</h1>
    <h3 id="Languages_h3">Languages informatiques</h3>
    <div class="Languages">
        <div class="competence" data-pourcentage="85">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>85%</p>
            <p>HTML</p>
        </div>
        <div class="competence" data-pourcentage="75">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>75%</p>
            <p>CSS</p>
        </div>
        <div class="competence" data-pourcentage="40">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>40%</p>
            <p>JS</p>
        </div>
        <div class="competence" data-pourcentage="75">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>75%</p>
            <p>PHP</p>
        </div>
        <div class="competence" data-pourcentage="60">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>60%</p>
            <p>Java</p>
        </div>
        <div class="competence" data-pourcentage="50">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>50%</p>
            <p>C++</p>
        </div>

    </div>

    <div class="Languages">
        <div class="competence" data-pourcentage="50">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>50%</p>
            <p>SQL</p>
        </div>
        <div class="competence" data-pourcentage="30">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>30%</p>
            <p>Mongo(MongoDB)</p>
        </div>
        <div class="competence" data-pourcentage="40">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>40%</p>
            <p>Cypher (Neo4j)</p>
        </div>
    </div>

    <h3 id="Languages_h3">Framework </h3>
    <div class="Languages">
        <div class="competence" data-pourcentage="70">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>70%</p>
            <p>cakePHP</p>
        </div>
        <div class="competence" data-pourcentage="50">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>50%</p>
            <p>Flutter</p>
        </div>
        <div class="competence" data-pourcentage="30">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>30%</p>
            <p>Node.js</p>
        </div>
        <div class="competence" data-pourcentage="30">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>30%</p>
            <p>Symfony</p>
        </div>
    </div>
    <h3 id="Bureautique_h3">Bureautique</h3>
    <div id="Bureautique">
        <div class="competence" data-pourcentage="90">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>90%</p>
            <p>Word</p>
        </div>
        <div class="competence" data-pourcentage="90">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>90%</p>
            <p>Excel</p>
        </div>
        <div class="competence" data-pourcentage="85">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>85%</p>
            <p>PowerPoint</p>
        </div>
    </div>
    <h3 id="Système_h3">Système d'exploitation</h3>
    <div id="Système">
        <div class="competence" data-pourcentage="90">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>90%</p>
            <p>Windows</p>
        </div>
        <div class="competence" data-pourcentage="70">
            <svg xmlns="http://www.w3.org/2000/svg">
                <circle r="50px" cx="70px" cy="70px"/>
                <circle r="50px" cx="70px" cy="70px"/>
            </svg>
            <p>70%</p>
            <p>Linux</p>
        </div>

    </div>
</main>
{% endblock %}
