@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Shrikhand', serif;
    font-size: 40pt;
    color: white;
}

p {
    font-family: 'League Gothic', serif;
    color: white;
}


#body_competence,
#body_desProjets,
#body_projet,
#body_contact {
    background-color: #8c52ff;
}

#body_desProjets {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main_galery h1 {
    text-align: center;
    margin-top: 4%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #434343;
    opacity: 0.70;
}

#main_galery p {
    padding: 3%;
    text-align: center;
    font-size: 15pt;

    background-color: #434343;
    border-radius: 15px;
    opacity: 0.70;
}

/*Debut accueil*/


#fond {
    background-image: url(/img/pexels-jakkel-418831.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------*/


header {
    font-family: 'Shrikhand', serif;
    color: white;
    background-color: #434343;
    padding: 1rem 0;
}

header .menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
}

header nav {
    display: flex;
    justify-content: center;
}

header ul {
    display: flex;
    padding: 0;
    margin: 0;
}

header li {
    list-style: none;
    margin-left: 2rem;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 16pt;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
}

header a:hover {
    color: #8c52ff;
    transform: scale(1.1);
}

.actuelle {
    color: #FFF552;
}

/* Menu Hamburger sur mobile */
@media screen and (max-width: 768px) {
    header nav {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    header .menu-toggle {
        display: block;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header li {
        margin: 10px 0;
    }

    header nav.active {
        display: flex;
    }
}


/*----------------------------------------------------*/

#main_aside_accueil {
    display: flex;
}

#main_accueil {
    width: 100%;
}

#aside_accueil {
    width: 0%;
    display: none;
}



#main_accueil #moi {
    width: 25%;
    margin-left: 35%;
    margin-top: 23%;
    background-color: #434343;
}

/*----------------------------------------------------*/

#aside_accueil {
    display: flex;
    margin-top: 8%;
    margin-right: 10%;
    text-align: center;
    color: white;
}

#aside_accueil div {
    width: 100%;
}

#aside_accueil h1 {
    background-color: #434343;
    opacity: 0.90;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#aside_accueil #aPropoMoi {
    background-color: #434343;
    opacity: 0.90;
    font-size: 18pt;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 2%;
}


/*----------------------------------------------------*/
footer {
    background-color: black;
    color: white;
    margin-top: auto;
    text-align: center;
    height: 70px;
}

footer ul {
    padding-left: 21%;
}

footer li {
    padding-top: 1%;
    padding-left: 2%;
    display: inline-block;
    vertical-align: middle;

}


footer a {
    text-decoration: none;
}

#logo_footer {
    margin-left: -80%;

    width: 10%;
}

/*----------------------------------------------------*/

.loader {
    background: url('/img/loader/loaderSpider.gif') 50% 50% no-repeat;
    cursor: wait;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


/*Fin accueil*/

/*----------------------------------------------------*/

/*Debut compétence*/

#main_competence h1,
h3 {
    color: white;

}

#main_competence h1 {
    text-align: center;
    margin: 3% 35%;
    background-color: #434343;
    opacity: 0.70;

}

#main_competence h3 {
    text-align: center;
    font-size: 20pt;
    margin-bottom: 2%;
}

#main_competence p {
    text-align: center;
    color: white;
    padding-right: 3%;
    font-size: 18pt;
}

#Languages_h3 {
    background-color: #434343;
    opacity: 0.70;
    margin: 3% 36%;
}

#Bureautique_h3 {
    background-color: #434343;
    opacity: 0.70;
    margin: 3% 43%;
}

#Système_h3 {
    background-color: #434343;
    opacity: 0.70;
    margin: 3% 38%;
}

#Système p {
    margin-bottom: 20%;
}

svg {
    width: 150px;
    height: 150px;
}

svg circle {
    fill: none;
    stroke: #412678;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    stroke-linecap: round;
}


svg circle:nth-child(1) {
    stroke: #cecece;
    fill: none;
    stroke-dashoffset: 0;
}

svg circle:nth-child(2) {
    stroke: #412678;
    stroke-width: 10px;
    fill: none;
    stroke-linecap: round;
}

.Languages,
#Bureautique,
#Système {
    display: flex;
    justify-content: center;
}

/*----------------------------------------------------*/


/*Fin compétence*/

/*----------------------------------------------------*/

/*Debut Projet*/


#main_projet h1 {
    text-align: center;
    margin: 4% 35% 5%;
    background-color: #434343;
    opacity: 0.70;
}

/* Style pour l'accordéon */
.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    /* Centrer horizontalement */
    justify-content: center;
    /* Centrer verticalement */
}

/* Limiter la largeur des projets et centrer */
.projet {
    width: 80%;
    /* Limiter la largeur à 80% de la page */
    max-width: 1000px;
    /* Largeur maximale à 1000px */
    margin: 10px 0;
    text-align: center;
    /* Centrer le texte sous l'image */
}

/* Style pour l'accordéon */
.accordion {
    background-color: #434343;
    color: white;
    padding: 15px;
    width: 80%;
    /* Limiter la largeur à 80% de la page */
    max-width: 1000px;
    /* Largeur maximale à 1000px */
    text-align: left;
    border: none;
    outline: none;
    font-size: 16pt;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    /* Centrer horizontalement */
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.accordion:hover {
    color: #FFF552;
}

/* Cacher les panneaux par défaut */
.panel {
    display: none;
    padding: 10px;
    background-color: #f4f4f4;
    color: #434343;
    font-size: 14pt;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Afficher le panneau lorsque la classe show est ajoutée */
.panel.show {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Style pour l'image réduite */
.panel img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

/* Style pour le texte */
.panel p {
    font-size: 16pt;
    color: #434343;
    margin: 0;
}

/* Ajouter une bordure autour des images pour une meilleure présentation */
.panel img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style pour l'image dans les projets */
.img-vitrine {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.arrow-icon {
    width: 40px;
    height: 25px;
    transition: transform 0.3s ease;
    margin-left: 10px;
}

.accordion.active .arrow-icon {
    transform: rotate(90deg);
}

/*Fin Projet*/

/*----------------------------------------------------*/


/*!*----------------------------------------------------*!*/

#hero-3d-wrapper {
    width: 100%;
    height: 85vh;
    /* Plus grand */
    position: relative;
    z-index: 10;
}

#roomCanvas {
    width: 100%;
    height: 100%;
    display: block;
}